<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Final</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

    <ul>
      <li>
        <a href="/users">
          All users
        </a>
      </li>

      <li>
        <a href="/photos">
          All public photos
        </a>
      </li>

        <li>
          <a href="/users/sign_in">
            Sign in
          </a>
        </li>

        <li>
          <a href="/users/sign_up">
            Sign up
          </a>
        </li>
    </ul>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
