<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
